# Network measures 

After network contruction we do network measures estimation.

In [1]:
import pandas as pd
import networkx as nx
import numpy as np
import math
import os
import matplotlib.pyplot as plt
import scipy.stats
from datetime import datetime

C:\Users\tupikina\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
# uploading datasets for 2019
#sf_2019 = pd.read_csv('../data/raw/data_examples/CNC San Francisco 2019.csv')
london_2018 = pd.read_csv('../data/raw/data_examples/CNC_London_2018.csv')
la_2018 = pd.read_csv('../data/raw/data_examples/CNC_Los_Angeles_2018.csv')

la_2018.head()

,id,observed_on_string,time_observed_at,created_time_zone,created_at,updated_at,description,user_id,user_login,quality_grade,...,preferred_common_name,iconic_taxon_name,taxon_rank,taxon_parent_id,taxon_native,taxon_endemic,taxon_threatened,taxon_search_rank,taxon_observations,identifications
0,7936465,Sun Apr 29 2018 14:53:07 GMT-0700 (PDT),2018-04-29T14:53:07-07:00,America/Los_Angeles,2017-09-15T15:13:04-07:00,2018-05-03T14:53:12-07:00,On a pomegranate tree in the NHM edible garden,630902,noelstnick,research,...,NaN,Insecta,species,61257,True,False,False,2446,2446,"[{'user_id': 181940, 'category': 'supporting',..."
1,8261280,Sun Apr 29 2018 16:26:11 GMT-0700 (PDT),2018-04-29T16:26:11-07:00,America/Los_Angeles,2017-10-04T16:26:56-07:00,2019-10-25T19:57:22-07:00,On a pomegranate tree in the NHM edible garden,630902,noelstnick,needs_id,...,Snout and Bark Beetles,Insecta,superfamily,372852,False,False,False,139060,139060,"[{'user_id': 240872, 'category': 'improving', ..."
2,8481460,Sun Apr 29 2018 13:57:13 GMT-0700 (PDT),2018-04-29T13:57:13-07:00,America/Los_Angeles,2017-10-20T13:57:56-07:00,2018-05-03T14:51:28-07:00,On a pomegranate tree in the NHM edible garden,630902,noelstnick,research,...,Oleander Aphid,Insecta,species,55215,False,False,False,8602,8602,"[{'user_id': 630902, 'category': 'improving', ..."
3,8623537,Sun Apr 29 2018 16:54:17 GMT-0700 (PDT),2018-04-29T16:54:17-07:00,America/Los_Angeles,2017-10-30T16:55:45-07:00,2018-05-03T14:51:13-07:00,On a pomegranate tree in the NHM edible garden,630902,noelstnick,casual,...,Mexican Bush Sage,Plantae,species,50644,False,False,False,4795,4795,"[{'user_id': 630902, 'category': None, 'disagr..."
4,8762645,Sun Apr 29 2018 11:32:50 GMT-0700 (PDT),2018-04-29T11:32:50-07:00,America/Los_Angeles,2017-11-11T11:33:49-08:00,2018-10-24T14:30:26-07:00,On a pomegranate tree in the NHM edible garden,630902,noelstnick,research,...,mule fat,Plantae,species,52111,True,False,False,7626,7626,"[{'user_id': 630902, 'category': 'improving', ..."

In [3]:
# uploading datasets for 2019
#sf_2019 = pd.read_csv('../data/raw/data_examples/CNC San Francisco 2019.csv')
london_2019 = pd.read_csv('../data/raw/data_examples/CNC_London_2019.csv')
la_2019 = pd.read_csv('../data/raw/data_examples/CNC_Los_Angeles_2019.csv')

london_2020 = pd.read_csv('../data/raw/data_examples/CNC_London_2020.csv')
la_2020 = pd.read_csv('../data/raw/data_examples/CNC_Los_Angeles_2020.csv')


la_2019.head()

,captive,created_at,created_time_zone,description,faves_count,geoprivacy,iconic_taxon_name,id,identifications,identifications_most_agree,...,taxon_native,taxon_observations,taxon_parent_id,taxon_rank,taxon_search_rank,taxon_threatened,time_observed_at,updated_at,user_id,user_login
0,False,2019-02-28T17:39:08-08:00,America/Los_Angeles,NaN,0,NaN,Plantae,20841493,"[{'user_id': 496245, 'category': 'improving', ...",True,...,True,10499.0,52689.0,species,10499.0,False,2019-04-28T09:38:38-07:00,2019-04-30T12:43:10-07:00,496245,ranger_sarie
1,False,2019-03-10T06:54:58-07:00,America/Los_Angeles,NaN,0,NaN,Plantae,21111190,"[{'user_id': 496245, 'category': 'improving', ...",True,...,False,46996.0,795678.0,genus,46996.0,False,2019-04-27T17:50:14-07:00,2019-05-04T18:22:16-07:00,496245,ranger_sarie
2,False,2019-03-11T05:28:49-07:00,America/Los_Angeles,NaN,0,NaN,Plantae,21142999,"[{'user_id': 74669, 'category': 'leading', 'di...",False,...,False,26146105.0,48460.0,kingdom,26146105.0,False,2019-04-27T18:23:24-07:00,2019-05-02T18:56:27-07:00,496245,ranger_sarie
3,False,2019-03-29T07:44:25-07:00,America/Los_Angeles,NaN,0,NaN,Plantae,21737158,"[{'user_id': 1850, 'category': 'supporting', '...",True,...,True,4658.0,50644.0,species,4658.0,False,2019-04-27T18:11:50-07:00,2019-04-30T12:43:09-07:00,496245,ranger_sarie
4,False,2019-04-06T18:21:06-07:00,America/Los_Angeles,NaN,0,NaN,Plantae,22121228,"[{'user_id': 203848, 'category': 'supporting',...",True,...,False,258420.0,47791.0,family,258420.0,False,2019-04-26T09:49:39-07:00,2019-05-05T22:15:38-07:00,496245,ranger_sarie

In [16]:
# uploading datasets for 2019
#sf_2019 = pd.read_csv('../data/raw/data_examples/CNC San Francisco 2019.csv')
sf_2018 = pd.read_csv('../data/raw/data_examples/CNC_San_Francisco_2018.csv')
sf_2019 = pd.read_csv('../data/raw/data_examples/CNC_San_Francisco_2019.csv')
sf_2020 = pd.read_csv('../data/raw/data_examples/CNC_San_Francisco_2020.csv')


sf_2019.head()

,captive,created_at,created_time_zone,description,faves_count,geoprivacy,iconic_taxon_name,id,identifications,identifications_most_agree,...,taxon_native,taxon_observations,taxon_parent_id,taxon_rank,taxon_search_rank,taxon_threatened,time_observed_at,updated_at,user_id,user_login
0,False,2018-07-03T16:54:26-07:00,America/Los_Angeles,NaN,0,NaN,Plantae,14025964,"[{'user_id': 469701, 'category': 'maverick', '...",True,...,True,8485.0,777236.0,species,8485.0,False,2019-04-29T00:42:00-07:00,2019-05-26T09:11:19-07:00,469701,sastinson
1,False,2019-04-20T09:31:59-07:00,America/Los_Angeles,NaN,0,NaN,Insecta,22761497,"[{'user_id': 402292, 'category': 'leading', 'd...",False,...,False,4259.0,184884.0,order,4259.0,False,2019-04-27T11:30:45-07:00,2019-04-27T14:39:53-07:00,402292,zufi
2,False,2019-04-26T00:01:19-07:00,America/Los_Angeles,NaN,0,NaN,Plantae,23103225,"[{'user_id': 3494, 'category': 'improving', 'd...",True,...,True,1445.0,52972.0,species,1445.0,False,2019-04-26T00:00:05-07:00,2019-04-26T20:19:42-07:00,3494,damontighe
3,False,2019-04-26T00:02:00-07:00,America/Los_Angeles,NaN,0,NaN,Insecta,23103272,"[{'user_id': 3494, 'category': 'improving', 'd...",True,...,True,14801.0,49349.0,species,14801.0,False,2019-04-26T00:00:44-07:00,2020-08-23T23:26:00-07:00,3494,damontighe
4,False,2019-04-26T00:02:22-07:00,America/Los_Angeles,NaN,0,NaN,Plantae,23103287,"[{'user_id': 1, 'category': 'supporting', 'dis...",True,...,False,7132.0,61907.0,species,7132.0,False,2019-04-26T00:00:52-07:00,2019-04-26T00:14:33-07:00,3494,damontighe

In [317]:
# df_net['year'] = pd.to_datetime(df_net['created_at'], utc = True).dt.to_period('M')

In [4]:
def bipartite_net_make(df, min_weight = 2):
    """
    The function returns a biaprtite network with the two types of nodes: observations and 
    actions (changes made by other users of INaturalist)
    
    Arguments:
    - df -- dataframe
    - min_weight - minimal weight of an edge between nodes
    """
    
    df_net = pd.DataFrame()
    
    for _, row in df.iterrows():
        idents = row['identifications']
        if pd.isnull(idents) == False:
            df_temp = pd.DataFrame(eval(idents))
            df_temp['target'] = np.repeat(row['user_id'], df_temp.shape[0])
            df_net = df_net.append(df_temp)
        
    edges = pd.DataFrame(df_net[['user_id', 'target']])
    
    # removing loops
    edges['temp'] = np.array(edges['user_id']) == np.array(edges['target'])
    edges = edges[edges['temp'] == False]
    edges = edges.drop(['temp'], axis = 1)
    
    # removing edges based on the chosen threshold
    edges['weight'] = 1
    edges = edges.groupby(by=['user_id', 'target']).sum().reset_index()
    edges = edges[edges['weight'] >= min_weight]
    
    bipartite_G = nx.Graph()

    for r, d in edges.iterrows():
        pid = 'P{0}'.format(d['user_id']) 
        cid = 'C{0}'.format(d['target'])  
        bipartite_G.add_node(pid, bipartite='action')
        bipartite_G.add_node(cid, bipartite='observation')
        bipartite_G.add_edge(pid, cid)
        
    return bipartite_G

In [5]:
def projection_make(bip_net, projection = 'action'):
    """
    The function returns a projection of a bipartite network 
    
    Arguments:
    
    - bip_net -- bipartite networks
    - projection (observation or action) -- in the case of 'action', the function returns a network where users are
    connected based on the common observations (they were working on); 'observation'  returns a network of 
    observations having a common list of collaborators
    """
    
    if projection == 'action':
        action_nodes = [node for node in bip_net.nodes() if bip_net.nodes[node]['bipartite'] == 'action']
        actions_graph = nx.bipartite.projection.projected_graph(bip_net, action_nodes)
        
        return actions_graph
    
    elif projection == 'observation':
        observation_nodes = [node for node in bip_net.nodes() if bip_net.nodes[node]['bipartite'] == 'observation']
        observations_graph = nx.bipartite.projection.projected_graph(bip_net, observation_nodes)
        
        return observations_graph

In [6]:
def descriptive_net_analysis(net):
    
    """
    The function returns basic descriptive characteristics of a net
    """
    
    nodes = net.number_of_nodes()
    edges = net.number_of_edges()
    density = nx.density(net)
    
    beetweenness = nx.betweenness_centrality(net)
    avg_beetw = np.mean(list(beetweenness.values()))
    sd_beetw = np.std(list(beetweenness.values()))
    
    degree = nx.degree_centrality(net)
    avg_degree = np.mean(list(degree.values()))
    sd_degree = np.std(list(degree.values()))
    
    clustering_coef = nx.average_clustering(net)
    
    print("number of nodes: {}, number of edges: {}".format(nodes, edges))
    print("density of the network: {0:.2f}".format(density))
    print("average beetweenness of the network: {}, sd: {}".format(avg_beetw, sd_beetw))
    print("average degree of the network: {}, sd: {}".format(avg_degree, sd_degree))
    print("clustering coefficient:", clustering_coef)

# Construction of networks 

Making networks for each year 2018-2020.

In [7]:
# making bipartite networks from the dfs (can take some time)
#g_sf = bipartite_net_make(sf_2019, min_weight = 2)
g_london = bipartite_net_make(london_2018, min_weight = 2)
g_la = bipartite_net_make(la_2018, min_weight = 2)

In [11]:
# making a projection for the London bipartite network
london_proj2018 = projection_make(g_london, projection = 'action')

In [ ]:
# making a projection for the San Francisco bipartite network
#sf_proj = projection_make(g_sf, projection = 'action')

In [12]:
# making a projection for the Los Angeles bipartite network
la_proj2018 = projection_make(g_la, projection = 'action')

In [8]:
g_london = bipartite_net_make(london_2019, min_weight = 2)
g_la = bipartite_net_make(la_2019, min_weight = 2)

# making a projection for the London bipartite network
london_proj2019 = projection_make(g_london, projection = 'action')
la_proj2019 = projection_make(g_la, projection = 'action')

In [11]:
g_london = bipartite_net_make(london_2020, min_weight = 2)
g_la = bipartite_net_make(la_2020, min_weight = 2)

# making a projection for the London bipartite network
london_proj2020 = projection_make(g_london, projection = 'action')
la_proj2020 = projection_make(g_la, projection = 'action')

# Networks 
Construct networks for san fransisco

In [17]:
g_sf = bipartite_net_make(sf_2018, min_weight = 2)
# making a projection for the London bipartite network
sf_proj2018 = projection_make(g_sf, projection = 'action')


g_sf = bipartite_net_make(sf_2019, min_weight = 2)
# making a projection for the London bipartite network
sf_proj2019 = projection_make(g_sf, projection = 'action')

g_sf = bipartite_net_make(sf_2020, min_weight = 2)
# making a projection for the London bipartite network
sf_proj2020 = projection_make(g_sf, projection = 'action')

# Analysis of networks 

First let us make average indicators comparison for various networks from SF, London and LA for various years. 


### Analysis of London CNC network

In [9]:
# London net characteristics
print("network for year 2018 London")
descriptive_net_analysis(london_proj2018)

network for year 2018 London
number of nodes: 151, number of edges: 3838
density of the network: 0.34
average beetweenness of the network: 0.004378268663792463, sd: 0.013268337186874653
average degree of the network: 0.3388962472406181, sd: 0.2433461008033697
clustering coefficient: 0.8787713150677778

In [129]:
# London net characteristics for 2019
descriptive_net_analysis(london_proj2019)

number of nodes: 206, number of edges: 7308
density of the network: 0.34610466493014447
average beetweenness of the network: 0.003176117712062328, sd: 0.010756374208345182
average degree of the network: 0.3461046649301445, sd: 0.2584748125781289
clustering coefficient: 0.9051918436132372

In [12]:
# London net characteristics for 2020
descriptive_net_analysis(london_proj2020)

number of nodes: 154, number of edges: 2668
density of the network: 0.23
average beetweenness of the network: 0.004919272334133014, sd: 0.015720032635685676
average degree of the network: 0.22646634411340297, sd: 0.2001300725874848
clustering coefficient: 0.7931981229017593

### Networks for SF

In [19]:
# San Francisco net characteristics for 2018 
descriptive_net_analysis(sf_proj2018)

number of nodes: 636, number of edges: 30628
density of the network: 0.15
average beetweenness of the network: 0.0012813807327116677, sd: 0.005669887894828528
average degree of the network: 0.15167632347843313, sd: 0.16219834298623734
clustering coefficient: 0.8055607901180315

In [18]:
# San Francisco net characteristics for 2019 
descriptive_net_analysis(sf_proj2019)

number of nodes: 666, number of edges: 26153
density of the network: 0.12
average beetweenness of the network: 0.0013451489355103825, sd: 0.006584434393223758
average degree of the network: 0.11810156020682337, sd: 0.13695390689567652
clustering coefficient: 0.8030974330380027

In [20]:
# San Francisco net characteristics for 2020 
descriptive_net_analysis(sf_proj2020)

number of nodes: 611, number of edges: 16977
density of the network: 0.09
average beetweenness of the network: 0.0014484599308336738, sd: 0.007201481349345319
average degree of the network: 0.09110031928308873, sd: 0.11216016100594393
clustering coefficient: 0.7454111426392614

### Networks for LA

In [13]:
# London net characteristics
print("network for year 2018 LA")
descriptive_net_analysis(la_proj2018)

network for year 2018 LA
number of nodes: 543, number of edges: 29122
density of the network: 0.20
average beetweenness of the network: 0.0014867018902314933, sd: 0.0052673119181158
average degree of the network: 0.19790286300653062, sd: 0.18068929483078222
clustering coefficient: 0.815629175960693

In [13]:
# Los Angeles net characteristics

print("network for year 2019 LA")
descriptive_net_analysis(la_proj2019)

network for year 2019 LA
number of nodes: 612, number of edges: 35059
density of the network: 0.19
average beetweenness of the network: 0.0013377026733886754, sd: 0.004284953119000909
average degree of the network: 0.18751537712739214, sd: 0.1801642093316199
clustering coefficient: 0.808378623504858

In [14]:
# Los Angeles net characteristics

print("network for year 2020 LA")
descriptive_net_analysis(la_proj2020)

network for year 2020 LA
number of nodes: 423, number of edges: 14542
density of the network: 0.16
average beetweenness of the network: 0.0019361811507403782, sd: 0.008205155852890557
average degree of the network: 0.16293009758775615, sd: 0.16329486128158532
clustering coefficient: 0.8031456336397258

# Plot evolution of network indicators in time

In [ ]:
plt.plot(x, y, '-o')# label=city, color=cities_colors[city][-1])   
        #estimate number of observations per city 

plt.ylabel("degree ")
plt.title("degree evolution per year")
plt.legend(frameon=False, fontsize=7, loc='lower left')

plt.ylim(ymin=0)
plt.show()

# Visualise networks 

We will use netwulf for this.

In [15]:
#!pip install netwulf

In [17]:
from netwulf import visualize
visualize(la_proj2018)

(None, None)

In [18]:
from netwulf import visualize
visualize(london_proj2018)

(None, None)